<h1 class="text-center"> Log In Here </h1>

<% if flash[:message]%>
  <%= flash[:message] %>
<% end %>


<%= form_for :user do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>
  
    <%= f.label :password %>
    <%= f.password_field :password %>
  
      <%= f.submit "Log In" %>
  <% end %>