<div class="container">
<br>
<% if @exercise %>
<h1 class="text-center text-primary">Training Sessions for the  <%= @exercise.name %> workout</h1>
 <% elsif @workout %>
 <h1 class="text-center text-primary">Circuits in <%= @workout.title %> </h1>
 <% else %>
 <h1 class="text-center text-primary">All Circuits</h1>
 <% end %>


<br>

<table class="table table-striped table-bordered bg-warning">
    <thead class="text-center text-primary">
      <tr>
        <th>Username</th>
        <th>Date</th>
        <th>Exercise</th>
        <th>Workout</th>
      </tr>
      <% @circuits.order(:date).each do |t| %>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= t.username %></td>
        <td class="text-center"><%= link_to t.date.strftime("%A, %b %d"), circuit_path(t) %></td>
        <td class="text-center"><%= link_to t.exercise.name, exercise_path(t.exercise)%></td>
        <td class="text-center"><%= link_to t.workout.title, workout_path(t.workout)%></td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>
