
<% if @exercise %>
<h1 class="text-center">Training Sessions for the  <%= @exercise.name %> workout</h1>
 <% elsif @workout %>
 <h1 class="text-center">Circuits in <%= @workout.title %> </h1>
 <% else %>
 <h1 class="text-center">All Circuits</h1>
 <% end %>




<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Username</th>
        <th class="text-center">Date</th>
        <th class="text-center">Exercise</th>
        <th class="text-center">Workout</th>
      </tr>
      <% @circuits.order(:date).each do |t| %>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= t.username %></td>
        <td class="text-center"><%= link_to t.date.strftime("%A, %b %d"), circuit_path(t) %></td>
        <td class="text-center"><%= link_to t.exercise.name, exercise_path(t.exercise)%></td>
        <td class="text-center"><%= link_to t.workout.title, workout_path(t.workout)%></td>
        <% end %>
      </tr>
    </tbody>
  </table>