<div class="container">
<br>
<h1 class="text-primary">Create a New Circuit</h1>
<br>
</div>
<div class="container">
<%= form_for @circuit do |f| %>

<%= f.label :date %>
<%= f.date_field :date %>
<br></br>

<%= f.label :category %>
<%= f.select :category,options_for_select(["Low Intensity", "Medium Intensity", "High Intensity", "Marathon Training"]), include_blank: true  %>
<br></br>

<%= f.label :workout_id %>

<%= render partial: "layouts/errors", locals: { object: @circuit } %>

<%= f.collection_select :workout_id, current_user.workouts, :id, :title %>
<br></br>
<% if @exercise %>
<p> Exercise: <%= @exercise.name %></p>
<%= f.hidden_field :exercise_id %>
<% else %>
<%= f.label :exercise_id %>
<%= f.collection_select :exercise_id, Exercise.all, :id, :name, include_blank: true %>

    <% end %>
    <br></br>
    <%= f.submit%>
<% end %>

</div>
