<div class="container">
<br>
<h1 class="text-center text-primary">All Exercises Sorted By Most Used</h1>
<br>
<table class="table table-striped table-bordered bg-warning">
    <thead class="text-center text-primary">
      <tr>
        <th>Exercise Name</th>
        <th>Category</th>
        <th>Reps</th>
        <th>Added By</th>
        <th>See Circuits</th>
        <th>Add a Circuit</th>
        <th>Circuits with Exercise</th>
        
      </tr>
      <% @exercises.each do |exercise| %>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= link_to exercise.name, exercise_path(exercise) %></td>
        <td class="text-center"><%=exercise.category %></td>
        <td class="text-center"><%=exercise.reps %></td>
        <td class="text-center"><%= exercise.user.username %></td>
        <td class="text-center"><%= link_to "See all Circuit sessions", exercise_circuits_path(exercise)%></td>
        <td class="text-center"><%= link_to "Add a Circuit", new_exercise_circuit_path(exercise)%></td>
        <td class="text-center"><%= exercise.circuits.size %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>

