<br>
<h1 class="text-center">All Exercises Sorted By Most Used</h1>
<br>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Exercise Name</th>
        <th class="text-center">Category</th>
        <th class="text-center">Reps</th>
        <th class="text-center">Added By</th>
        <th class="text-center">See Circuits</th>
        <th class="text-center">Add a Circuit</th>
        <th class="text-center">Circuits with Exercise</th>
        
      </tr>
      <% @exercises.each do |exercise| %>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= link_to exercise.name, exercise_path(exercise) %></td>
        <td class="text-center"><%=exercise.category %></td>
        <td class="text-center"><%=exercise.reps %></td>
        <td class="text-center"><%= exercise.user.username %></td>
        <td class="text-center"><%= link_to "See all Circuit sessions", exercise_circuits_path(exercise)%></td>
        <td class="text-center"><%= link_to "Add a Circuit", new_exercise_circuit_path(exercise)%></td>
        <td class="text-center"><%= exercise.circuits.size %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

