<!DOCTYPE html>
<html>
  <head>
    <title>CircuitTrainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    
  </head>

  <body>
    <%= link_to 'Logout', '/logout', method: :delete%>
    <%= link_to 'Add a Workout', new_workout_path , class:'button'%>
    <%= link_to 'My Workouts', workouts_path , class:'button'%>
    <%= link_to 'Add a Circuit', new_circuit_path, class:'button' %>
    <%= link_to 'All Circuits', circuits_path, class:'button' %>
    <%= link_to 'Add an Exercise', new_exercise_path , class:'button'%>
    <%= link_to 'All Exercises', exercises_path, class:'button' %>
 



    <%= yield %>
  </body>
</html>