<!DOCTYPE html>
<html>
  <head>
    <title>CircuitTrainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    
  </head>

  <% if logged_in? %>
  <div class="jumbotron text-center bg-primary text-warning">
  <h1>Circuit Trainer</h1>
  </div>
  <nav class='navbar'>
    <%= link_to 'Add a Workout', new_workout_path , class:'btn btn-primary text-warning'%>
    <%= link_to 'My Workouts', workouts_path , class:'btn btn-primary text-warning'%>
    <%= link_to 'Add a Circuit', new_circuit_path, class:'btn btn-primary text-warning' %>
    <%= link_to 'All Circuits', circuits_path, class:'btn btn-primary text-warning' %>
    <%= link_to 'Add an Exercise', new_exercise_path , class:'btn btn-primary text-warning'%>
    <%= link_to 'All Exercises', exercises_path, class:'btn btn-primary text-warning' %>
    <%= link_to 'About', about_path, class:'btn btn-primary text-warning' %>
    <%= link_to 'Resources', resources_path, class:'btn btn-primary text-warning' %>
    <%= link_to 'Logout', '/logout', class:'btn btn-primary text-warning', method: :delete%>
  </nav>
    <% else %>

    
    <% end %>
    <div class='container'>
    <%= yield %>
    </div>

</html>